@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
body {
    margin: 0;
    background: url(../images/tech.png);
    background-size: cover;
    color: #9b111e;
}
#heading {
    text-align: center;
    padding: 7px;
    background-color: #9b111e;
    color: #ffffff;
    font-size: 15px;
}
#option {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    margin-top: 20px; 
}
#option button {
    background-color: #9b111e;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 150px;
}
#option button:hover {
    background-color: #ffffff;
    color: #9b111e;
    transform: scale(1.1);
}
#heading h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    margin-top: 20px; 
}
#txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    gap: 15px; 
    margin-top: 20px; 
}

#txt h2 {
    color: #9b111e; 
    font-size: 1.5rem; 
    margin: 0; 
}
@media (min-width: 576px) {
    #option {
        flex-direction: column;
    }
    #option button {
        width: 200px;
        font-size: 1.1rem;
    }
}
@media (min-width: 768px) {
    #option {
        flex-direction: row;
        gap: 30px;
    }
    #option button {
        width: 180px;
        font-size: 1.1rem;
    }
}
@media (min-width: 992px) {
    #option {
        gap: 40px;
        margin-top: 40px;
    }
    #option button {
        width: 200px;
        padding: 12px 20px;
        font-size: 1.2rem;
    }
}
