@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
    body {
      margin: 0;
      background: url(../images/tech.png);
      background-size: contain;
      background-attachment: scroll;
      color: #9b111e;
    }
    #heading {
      text-align: center;
      padding: 7px;
      background-color: #9b111e;
      color: #ffffff;
      font-size: 15px;
    }
    .box {
      width: 300px;
      height: 30px;
      border: 1px solid #9b111e;
      border-radius: 5px;
      color: #9b111e;
      margin: 5px;
      padding: 5px;
    }
    #btn-container {
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }
    #btn {
      background-color: #ffffff;
      height: 45px;
      width: 125px;
      color: #9b111e;
      border: 1px solid #9b111e;
      border-radius: 5px;
      font-size: 17px;
      cursor: pointer;
      transition: 0.3s;
    }
    #btn:hover {
      background-color: #9b111e;
      color: #ffffff;
    }
    #inst {
      color: #9b111e;
    }
    table {
      margin-bottom: 20px;
    }
    h2, h4 {
      margin-left: 10px;
    }
    .event {
      margin-right: 10px;
    }
    /* Extra Small Devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  .box {
    width: 90%;
  }

  table {
    width: 100%;
    display: block;
    overflow-x: auto;
  }

  td {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  #btn {
    width: 100%;
  }

  h1 {
    font-size: 20px;
  }

  h2, h4 {
    font-size: 18px;
  }

  #inst {
    font-size: 13px;
  }
}

/* Small Devices (portrait tablets and large phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .box {
    width: 85%;
  }

  td {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  #btn {
    width: 80%;
  }

  #btn-container {
    flex-direction: column;
    align-items: center;
  }
}

/* Medium Devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .box {
    width: 70%;
  }

  table {
    width: 100%;
  }

  #btn {
    width: 60%;
  }
}

/* Large Devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .box {
    width: 350px;
  }

  #btn {
    width: 200px;
  }
}

/* Extra Large Devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .box {
    width: 400px;
  }

  #btn {
    width: 250px;
  }
}
