@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
body {
    margin: 0;
    background: url(../images/tech.png);
    background-size: contain;
    background-attachment: scroll;
    color: #9b111e;
}
#heading {
    text-align: center;
    padding: 7px;
    background-color: #9b111e;
    color: #ffffff;
    font-size: 15px;
}
.box {
    width: 700px;
    height: 30px;
    border: 1px solid #9b111e;
    border-radius: 5px;
    color: #9b111e;
    transition: 0.5s;
}
.box:hover {
    width: 720px;
    height: 33px;
    border: 1px solid #9b111e;
    color: #9b111e;
}

#txt {
    font-family: sans-serif;
    font-size: medium;
}
#btn {
    display: block;
    margin: 20px auto;
    right: 50%;
    background-color: #ffffff;
    height: 40px;
    width: 120px;
    color: #9b111e;
    border: 1px solid #9b111e;
    border-radius: 5px;
    font-size: 15px;
    transition: 0.5s; 
}
#btn:hover {
    display: block;
    margin: 20px auto;
    right: 50%;
    background-color: #9b111e;
    height: 45px;
    width: 125px;
    color: #ffffff;
    border: 1px solid #9b111e;
    border-radius: 5px;
    font-size: 17px; 
}
.radio-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
/* Extra Small Devices (phones, <576px) */
@media (max-width: 575.98px) {
  .box {
    width: 90%;
    height: auto;
  }

  #btn {
    position: static;
    width: 100%;
    height: 45px;
    font-size: 16px;
    margin: 10px auto;
    display: block;
  }

  table {
    width: 100%;
    display: block;
    overflow-x: auto;
  }

  td {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  #heading h1, #title, h4, label {
    font-size: 18px;
    text-align: center;
  }

  form {
    padding: 10px;
  }
}

/* Small Devices (576px - 767.98px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .box {
    width: 85%;
  }

  #btn {
    width: 80%;
    margin: 15px auto;
    position: static;
    display: block;
  }

  td {
    display: block;
    margin-bottom: 10px;
  }

  table {
    display: block;
    overflow-x: auto;
  }
}

/* Medium Devices (768px - 991.98px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .box {
    width: 75%;
  }

  #btn {
    width: 200px;
    position: static;
    display: block;
    margin: 20px auto;
  }

  table {
    width: 100%;
  }
}

